<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
   <bean id="lapDetails" class="com.bellinf.batch4.ioc.LaptopDetails">
     <constructor-arg type="java.lang.String" value="Mac"/>
     <constructor-arg type="int" value="2000"></constructor-arg>
   </bean>      
   
   <bean id="movieFinder" class="com.bellinf.batch4.ioc.MovieFinder">
     
   </bean>
   
   <bean id="netflix" class="com.bellinf.batch4.ioc.Netflix">
     <property name="movieFnd" ref="movieFinder"></property>
    
   </bean>
   
   <bean id="amzon" class="com.bellinf.batch4.ioc.Amazon">
     <property name="movieFnd" ref="movieFinder"></property>
    
   </bean>
             
</beans>  